USE [master]
GO
/****** Object:  Database [HotelManagement]    Script Date: 7/4/2021 9:15:53 PM ******/
CREATE DATABASE [HotelManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HotelManagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\HotelManagement.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HotelManagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\HotelManagement_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HotelManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HotelManagement]
GO
/****** Object:  UserDefinedFunction [dbo].[func_AuthenticateUser]    Script Date: 7/4/2021 9:15:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[func_AuthenticateUser](@username varchar(20), @password varchar(20))
RETURNS int
AS
BEGIN
	IF (EXISTS (SELECT * FROM DBO.NhanVien WHERE Username = @username AND Password = @password AND Active = 'true'))
	BEGIN
		RETURN 1
	END

	RETURN 0
END
GO
/****** Object:  UserDefinedFunction [dbo].[func_getAllRoom]    Script Date: 7/4/2021 9:15:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[func_getAllRoom]()
RETURNS @result table(
		[SoPhong] [int] NOT NULL,
		[ID_LoaiPhong] [int] NULL,
		[TinhTrang] [bit] NULL,
		[GhiChu] [nvarchar](100) NULL,
		[TenLoaiPhong] [nvarchar](50) NULL,
		[DonGia] [float] NULL,
		[SLKhachToiDa] [int] NULL,
		[Active] [bit] NULL)
AS
BEGIN
	INSERT INTO @result ([SoPhong], [ID_LoaiPhong], [TinhTrang],[GhiChu],[TenLoaiPhong],[DonGia],[SLKhachToiDa], [Active])
	SELECT P.SoPhong, P.ID_LoaiPhong, P.TinhTrang, P.GhiChu, LP.TenLoaiPhong, LP.DonGia, LP.SLKhachToiDa, P.Active FROM dbo.Phong P, dbo.LoaiPhong LP WHERE P.ID_LoaiPhong = LP.ID_LoaiPhong AND P.Active = 1

	RETURN
END
GO
/****** Object:  UserDefinedFunction [dbo].[func_GetCheckin]    Script Date: 7/4/2021 9:15:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[func_GetCheckin]()
RETURNS int
AS
BEGIN
	DECLARE @num int
	SET @num = (SELECT COUNT(*) FROM DBO.PhieuThue WHERE CONVERT(date, NgayBatDau) = CONVERT(date, getdate()))

	RETURN @num;
END
GO
/****** Object:  UserDefinedFunction [dbo].[func_GetCheckout]    Script Date: 7/4/2021 9:15:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[func_GetCheckout]()
RETURNS int
AS
BEGIN
	DECLARE @num int
	SET @num = (SELECT COUNT(*) FROM DBO.HoaDon WHERE CONVERT(date, NgayTraPhong) = CONVERT(date, getdate()))

	RETURN @num;
END
GO
/****** Object:  UserDefinedFunction [dbo].[func_GetNumEmpty]    Script Date: 7/4/2021 9:15:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[func_GetNumEmpty]()
RETURNS int
AS
BEGIN
	DECLARE @num int
	SET @num = (SELECT COUNT(*) FROM DBO.Phong WHERE TinhTrang = 0)

	RETURN @num;
END
GO
/****** Object:  UserDefinedFunction [dbo].[func_GetNumRenting]    Script Date: 7/4/2021 9:15:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[func_GetNumRenting]()
RETURNS int
AS
BEGIN
	DECLARE @num int
	SET @num = (SELECT COUNT(*) FROM DBO.Phong WHERE TinhTrang = 1)

	RETURN @num;
END
GO
/****** Object:  UserDefinedFunction [dbo].[func_GetRentBillFactor]    Script Date: 7/4/2021 9:15:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[func_GetRentBillFactor](@ID_PhieuThue int)
RETURNS float
AS
BEGIN
	DECLARE @num float;
	SET @num = (select MAX(HeSo) from dbo.KhachHang KH, dbo.ChiTietPhieuThue CT, DBO.LoaiKhach LK WHERE 
				CT.ID_PhieuThue = @ID_PhieuThue and KH.ID_KhachHang = CT.ID_KhachHang AND LK.ID_LoaiKhach = KH.ID_LoaiKhach)
	RETURN @num
END
GO
/****** Object:  UserDefinedFunction [dbo].[func_GetRevenueByRoomCat]    Script Date: 7/4/2021 9:15:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[func_GetRevenueByRoomCat](@roomCat int, @month int)
RETURNS int
AS
BEGIN
	DECLARE @num int
	SET @num = (SELECT CAST(SUM(H.TongTien) AS int) FROM dbo.Phong P, dbo.HoaDon H, dbo.ChiTietPhieuThue CT
				WHERE MONTH(H.NgayTraPhong) = @month AND H.ID_PhieuThue = CT.ID_PhieuThue AND CT.SoPhong = P.SoPhong AND P.ID_LoaiPhong = @roomCat )

	RETURN @num;
END
GO
/****** Object:  UserDefinedFunction [dbo].[func_GetRoomDensity]    Script Date: 7/4/2021 9:15:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[func_GetRoomDensity](@room int, @month int)
RETURNS int
AS
BEGIN
	DECLARE @num int
	DECLARE @num2 int

	SET @num = (SELECT COUNT(*) FROM DBO.PhieuThue PT, dbo.ChiTietPhieuThue C  
				WHERE PT.ID_PhieuThue = C.ID_PhieuThue 
				AND MONTH(PT.NgayBatDau) = @month AND C.SoPhong = @room)

	SET @num2 = (SELECT COUNT(*) FROM dbo.ChiTietPhieuThue C, dbo.HoaDon HD
				WHERE C.ID_PhieuThue = hd.ID_PhieuThue and hd.ID_KhachHang IN (SELECT ID_KhachHang FROM dbo.ChiTietPhieuThue)
				AND MONTH(hd.NgayTraPhong) = @month AND C.SoPhong = @room)

	IF (@num > @num2) 
		RETURN @num;

		
		
	RETURN @num2;

END
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 7/4/2021 9:15:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[ID_KhachHang] [int] NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[CMND] [varchar](15) NULL,
	[DiaChi] [nvarchar](100) NULL,
	[ID_LoaiKhach] [int] NOT NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[ID_KhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietPhieuThue]    Script Date: 7/4/2021 9:15:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPhieuThue](
	[ID_KhachHang] [int] NOT NULL,
	[ID_PhieuThue] [int] NOT NULL,
	[SoPhong] [int] NOT NULL,
	[ID_NhanVien] [int] NOT NULL,
	[Active] [bit] NULL,
 CONSTRAINT [PK_ChiTietPhieuThue] PRIMARY KEY CLUSTERED 
(
	[ID_KhachHang] ASC,
	[ID_PhieuThue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[func_GetCustomerInRoom]    Script Date: 7/4/2021 9:15:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[func_GetCustomerInRoom](@ID_PhieuThue int)
RETURNS table
AS
	return (select kh.HoTen from dbo.KhachHang KH, dbo.ChiTietPhieuThue CT WHERE CT.ID_PhieuThue = @ID_PhieuThue and KH.ID_KhachHang = CT.ID_KhachHang)
GO
/****** Object:  Table [dbo].[CauHinh]    Script Date: 7/4/2021 9:15:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CauHinh](
	[ID] [int] NOT NULL,
	[TenThuocTinh] [varchar](20) NULL,
	[KieuDuLieu] [varchar](20) NULL,
	[GiaTri] [varchar](20) NULL,
	[DieuKien] [varchar](20) NULL,
 CONSTRAINT [PK_CauHinh] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 7/4/2021 9:15:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[ID_HoaDon] [int] NOT NULL,
	[ID_PhieuThue] [int] NOT NULL,
	[ID_NhanVien] [int] NOT NULL,
	[ID_KhachHang] [int] NOT NULL,
	[NgayTraPhong] [datetime] NULL,
	[TongTien] [float] NULL,
	[Active] [bit] NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[ID_HoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiKhach]    Script Date: 7/4/2021 9:15:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiKhach](
	[ID_LoaiKhach] [int] NOT NULL,
	[TenLoaiKhach] [nvarchar](50) NULL,
	[HeSo] [float] NULL,
	[Active] [bit] NULL,
 CONSTRAINT [PK_LoaiKhach] PRIMARY KEY CLUSTERED 
(
	[ID_LoaiKhach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiPhong]    Script Date: 7/4/2021 9:15:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiPhong](
	[ID_LoaiPhong] [int] NOT NULL,
	[TenLoaiPhong] [nvarchar](50) NULL,
	[DonGia] [float] NULL,
	[SLKhachToiDa] [int] NULL,
	[Active] [bit] NULL,
 CONSTRAINT [PK_LoaiPhong] PRIMARY KEY CLUSTERED 
(
	[ID_LoaiPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 7/4/2021 9:15:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[ID_NhanVien] [int] NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[CMND] [varchar](15) NULL,
	[LoaiNhanVien] [bit] NULL,
	[Username] [varchar](20) NULL,
	[Password] [varchar](256) NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[ID_NhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuThue]    Script Date: 7/4/2021 9:15:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuThue](
	[ID_PhieuThue] [int] NOT NULL,
	[NgayBatDau] [datetime] NULL,
	[Active] [int] NOT NULL,
 CONSTRAINT [PK_PhieuThue] PRIMARY KEY CLUSTERED 
(
	[ID_PhieuThue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phong]    Script Date: 7/4/2021 9:15:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phong](
	[SoPhong] [int] NOT NULL,
	[ID_LoaiPhong] [int] NULL,
	[TinhTrang] [bit] NULL,
	[GhiChu] [nvarchar](100) NULL,
	[Active] [bit] NULL,
 CONSTRAINT [PK_Phong] PRIMARY KEY CLUSTERED 
(
	[SoPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CauHinh] ([ID], [TenThuocTinh], [KieuDuLieu], [GiaTri], [DieuKien]) VALUES (1, N'TiLePhuThu', N'float', N'0.25', N'>=3')
GO
INSERT [dbo].[ChiTietPhieuThue] ([ID_KhachHang], [ID_PhieuThue], [SoPhong], [ID_NhanVien], [Active]) VALUES (1, 1, 100, 3, 1)
INSERT [dbo].[ChiTietPhieuThue] ([ID_KhachHang], [ID_PhieuThue], [SoPhong], [ID_NhanVien], [Active]) VALUES (3, 2, 201, 2, 1)
INSERT [dbo].[ChiTietPhieuThue] ([ID_KhachHang], [ID_PhieuThue], [SoPhong], [ID_NhanVien], [Active]) VALUES (4, 3, 203, 2, 1)
GO
INSERT [dbo].[HoaDon] ([ID_HoaDon], [ID_PhieuThue], [ID_NhanVien], [ID_KhachHang], [NgayTraPhong], [TongTien], [Active]) VALUES (1, 1, 2, 1, CAST(N'2021-06-12T00:00:00.000' AS DateTime), 500000, 1)
INSERT [dbo].[HoaDon] ([ID_HoaDon], [ID_PhieuThue], [ID_NhanVien], [ID_KhachHang], [NgayTraPhong], [TongTien], [Active]) VALUES (2, 2, 3, 3, CAST(N'2021-06-17T00:00:00.000' AS DateTime), 600000, 1)
INSERT [dbo].[HoaDon] ([ID_HoaDon], [ID_PhieuThue], [ID_NhanVien], [ID_KhachHang], [NgayTraPhong], [TongTien], [Active]) VALUES (3, 3, 2, 4, CAST(N'2021-06-17T00:00:00.000' AS DateTime), 1000000, 1)
GO
INSERT [dbo].[KhachHang] ([ID_KhachHang], [HoTen], [CMND], [DiaChi], [ID_LoaiKhach]) VALUES (1, N'Thái Thanh Toàn', N'2781876184', N'986, Ấp Yến, Xã 1, Huyện Khoa Hậu Dương Hậu Giang', 1)
INSERT [dbo].[KhachHang] ([ID_KhachHang], [HoTen], [CMND], [DiaChi], [ID_LoaiKhach]) VALUES (2, N'Phan Duy Thạch', N'5073308781', N'03, Ấp Sa Lý, Thôn Phong Thương, Quận Khuyên Mẫn Đồng Nai', 1)
INSERT [dbo].[KhachHang] ([ID_KhachHang], [HoTen], [CMND], [DiaChi], [ID_LoaiKhach]) VALUES (3, N'Nguyễn Thái Hòa', N'4241085238', N'62 Phố Tiếp Huệ Chiêu, Ấp Toàn Đức, Quận Hảo Bình Định', 1)
GO
INSERT [dbo].[LoaiKhach] ([ID_LoaiKhach], [TenLoaiKhach], [HeSo], [Active]) VALUES (1, N'Nội địa', 1, 1)
INSERT [dbo].[LoaiKhach] ([ID_LoaiKhach], [TenLoaiKhach], [HeSo], [Active]) VALUES (2, N'Nước ngoài', 1.5, 1)
GO
INSERT [dbo].[LoaiPhong] ([ID_LoaiPhong], [TenLoaiPhong], [DonGia], [SLKhachToiDa], [Active]) VALUES (1, N'Đơn', 300000, 2, 1)
INSERT [dbo].[LoaiPhong] ([ID_LoaiPhong], [TenLoaiPhong], [DonGia], [SLKhachToiDa], [Active]) VALUES (2, N'Đôi', 500000, 4, 1)
INSERT [dbo].[LoaiPhong] ([ID_LoaiPhong], [TenLoaiPhong], [DonGia], [SLKhachToiDa], [Active]) VALUES (3, N'VIP', 1000000, 8, 1)
GO
INSERT [dbo].[NhanVien] ([ID_NhanVien], [HoTen], [CMND], [LoaiNhanVien], [Username], [Password], [Active]) VALUES (1, N'Châu Bảo Quốc', N'5718585434', 1, N'QL_Quoc', N'$2y$10$GHwdFVU5wGads8lI/KwcRuqoi05PXY1XliYKagVBDR7SxZ4Y6EzAK', 1)
INSERT [dbo].[NhanVien] ([ID_NhanVien], [HoTen], [CMND], [LoaiNhanVien], [Username], [Password], [Active]) VALUES (2, N'Huỳnh Hà Nhi', N'9621868905', 1, N'QL_Nhi', N'$2y$10$GHwdFVU5wGads8lI/KwcRuqoi05PXY1XliYKagVBDR7SxZ4Y6EzAK', 1)
INSERT [dbo].[NhanVien] ([ID_NhanVien], [HoTen], [CMND], [LoaiNhanVien], [Username], [Password], [Active]) VALUES (3, N'Võ Hải Thụy', N'8691484828', 0, N'NV_Thuy', N'$2y$10$GHwdFVU5wGads8lI/KwcRuqoi05PXY1XliYKagVBDR7SxZ4Y6EzAK', 1)
GO
INSERT [dbo].[PhieuThue] ([ID_PhieuThue], [NgayBatDau], [Active]) VALUES (1, CAST(N'2021-06-01T00:00:00.000' AS DateTime), 2)
INSERT [dbo].[PhieuThue] ([ID_PhieuThue], [NgayBatDau], [Active]) VALUES (2, CAST(N'2021-06-03T00:00:00.000' AS DateTime), 2)
INSERT [dbo].[PhieuThue] ([ID_PhieuThue], [NgayBatDau], [Active]) VALUES (3, CAST(N'2021-06-05T00:00:00.000' AS DateTime), 2)
GO
INSERT [dbo].[Phong] ([SoPhong], [ID_LoaiPhong], [TinhTrang], [GhiChu], [Active]) VALUES (100, 1, 0, N'Phòng không hư hỏng', 1)
INSERT [dbo].[Phong] ([SoPhong], [ID_LoaiPhong], [TinhTrang], [GhiChu], [Active]) VALUES (101, 1, 0, N'Phòng không hư hỏng', 1)
INSERT [dbo].[Phong] ([SoPhong], [ID_LoaiPhong], [TinhTrang], [GhiChu], [Active]) VALUES (102, 2, 0, N'Phòng không hư hỏng', 1)
GO
ALTER TABLE [dbo].[ChiTietPhieuThue] ADD  CONSTRAINT [DF_ChiTietPhieuThue_Active]  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[ChiTietPhieuThue]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietPhieuThue_KhachHang] FOREIGN KEY([ID_KhachHang])
REFERENCES [dbo].[KhachHang] ([ID_KhachHang])
GO
ALTER TABLE [dbo].[ChiTietPhieuThue] CHECK CONSTRAINT [FK_ChiTietPhieuThue_KhachHang]
GO
ALTER TABLE [dbo].[ChiTietPhieuThue]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietPhieuThue_NhanVien] FOREIGN KEY([ID_NhanVien])
REFERENCES [dbo].[NhanVien] ([ID_NhanVien])
GO
ALTER TABLE [dbo].[ChiTietPhieuThue] CHECK CONSTRAINT [FK_ChiTietPhieuThue_NhanVien]
GO
ALTER TABLE [dbo].[ChiTietPhieuThue]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietPhieuThue_PhieuThue] FOREIGN KEY([ID_PhieuThue])
REFERENCES [dbo].[PhieuThue] ([ID_PhieuThue])
GO
ALTER TABLE [dbo].[ChiTietPhieuThue] CHECK CONSTRAINT [FK_ChiTietPhieuThue_PhieuThue]
GO
ALTER TABLE [dbo].[ChiTietPhieuThue]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietPhieuThue_Phong] FOREIGN KEY([SoPhong])
REFERENCES [dbo].[Phong] ([SoPhong])
GO
ALTER TABLE [dbo].[ChiTietPhieuThue] CHECK CONSTRAINT [FK_ChiTietPhieuThue_Phong]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_NhanVien] FOREIGN KEY([ID_NhanVien])
REFERENCES [dbo].[NhanVien] ([ID_NhanVien])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_NhanVien]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_PhieuThue] FOREIGN KEY([ID_PhieuThue])
REFERENCES [dbo].[PhieuThue] ([ID_PhieuThue])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_PhieuThue]
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD  CONSTRAINT [FK_KhachHang_LoaiKhach] FOREIGN KEY([ID_LoaiKhach])
REFERENCES [dbo].[LoaiKhach] ([ID_LoaiKhach])
GO
ALTER TABLE [dbo].[KhachHang] CHECK CONSTRAINT [FK_KhachHang_LoaiKhach]
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD  CONSTRAINT [FK_Phong_LoaiPhong] FOREIGN KEY([ID_LoaiPhong])
REFERENCES [dbo].[LoaiPhong] ([ID_LoaiPhong])
GO
ALTER TABLE [dbo].[Phong] CHECK CONSTRAINT [FK_Phong_LoaiPhong]
GO
USE [master]
GO
